<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<header th:replace="layout/layout :: header"></header>
<body>
<div align="center">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/client/form}" th:object="${client}" method="post">
        <table>
            <tr>
                <td>Nombre</td>
                <td><label>
                    <input type="text" th:field="*{name}" class="form-control"/>
                </label></td>
                <td><small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small></td>
            </tr>
            <tr>
                <td><input style="background-color: #008CBA; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; text-decoration: none; display: inline-block; cursor: pointer;" type="submit" value="Crear cliente"/></td>
            </tr>
        </table>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</div>
</body>
</html>